<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <div class="aboutme">
        <h1>Jaeden Platt</h1>
        <img src="/images/JaedenandLiz.JPEG" alt="My wife and I" class="profile-pic">
        <p>Hello everyone! My name is Jaeden Platt, and I am a Junior in Software Engineering focusing on Full-Stack Web Development! I am pretty far along with my major, and I love to create websites.</p> 
        <p>Some of my hobbies include:</p>
        <ul>
            <li>Playing the Legend of Zelda</li>
            <li>Watching shows with my wife</li>
            <li>Training for boxing</li>
        </ul>
        <p>What I hope to gain from this course is a deeper understanding of web development and how to be effective with Node.js.</p>
    </div>
</main>
<%- include('partials/footer') %>